@import "http://fonts.googleapis.com/css?family=Fira+Sans:400,800";
html,
body,
footer,
.footer {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

html {
    font-size: 100%;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: #fff;
    color: #333;
    font-family: 'Fira Sans', sans-serif;
    min-height: 100vh;
    padding: 10px;
}

.TrelloExport {
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
legend {
    font-family: 'Fira Sans';
    padding: 0;
    margin: 0;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 2em;
}

h2 {
    color: #000;
    padding: 10px;
    font-size: 1.8em;
    margin-top: 20px;
}

h2:first-of-type {
    margin-top: 10px
}

h3 {
    color: black;
    font-size: 1.6em;
    font-weight:800;
}

h4 {
    font-size: 1.3em;
    /* text-decoration: underline; */
}

p {
    font-size: 1em;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

img {
    max-width: 100%;
    margin: 0 auto;
}

.FluidYellow {
    background-color: #FFD000;
}

a,
a:visited,
a:focus {
    color: black;
}

.col-md-3 {
    width: 50%;
    float: left;
}

.card {
    margin: 10px 0 10px 0;
    padding: 0 5px;
    background-color: #D8D8D8;
}

.card .info:first-of-type {
    margin-top: 5px
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6,
.card .info,
.card .description,
.card .comments,
.card .comment,
.card .attachments,
.card .attachment,
.card .checklists,
.card .checklist,
.card .customFields,
.card .customField,
.card .labels {
    padding: 4px;
    width: auto;
    max-width: 100%;
}

.card .customField {
    margin-left: 10px
}

.card .description p {
    padding: 0;
    white-space: pre-wrap;
}

.card .label {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    width: auto;
    min-width: 180px;
    font-weight: bolder;
}

.comment,
.attachment {
    margin: 4px;
    background-color:  #f2f2f2;
}

.comment .label,
.attachment .label,
.comment .text,
.attachment .text {
    text-transform: none;
    display: block;
    width: auto;
    padding: 4px
}

.comment .text p {
    margin: 0;
    white-space: pre-wrap;
}

.checklists ul li .completed {
    font-size: .8em
}